.container {
  padding: 25px;
  margin: 15px 0;
  box-shadow: 4px 4px 8px 4px #e3e3ed;
  max-width: 500px;
  min-width: 500px;
  text-align: left;
}

.title {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.body {
  margin: 0;
  color: #818195;
}